.footer-content {
  padding-top: 2em;
  padding-bottom: 1em;
  color: white;
}

.green {
  color: #82bc00;
}

.align-items {
  align-items: center;
  margin-top: 1em;
}

.centering {
  display: flex;
  align-items: center;
  flex-shrink: 2;
  border: 0;
}

.card-footer {
  background-color: #343a40;
  border-color: white;
  border: 0;
  border-bottom: 1px  solid;
}

.content-letter {
  margin-left: 1em;
}

.elemental-letter {
  background-color: red;
  padding: 10px;
  margin-left: 0.6em;
  border-radius: 50px;
}


.copyrigth {
  border-color: white;
  border-top: 1px  solid;
  padding-top: 0.4em;
  margin-top: 3em;
}

.icon-footer {
  font-size: 45px;
  letter-spacing: 0.3em;
}

.text-footer {
  margin: 0;
}
