.footer-content.bg-dark
  .info-footer.container
    .row
      .about-us.col-sm-12.col-md-4
        h5 ACERCA DE <span class="green">NOSOTROS<span>
        p Somos una institución de Educación redefinida que busca cumplir y desarrollar los sueños de jóvenes colombianos.
      .family.col-sm-12.col-md-4
        h5 Familia <span class="green">Cunista</span>
        .card.card-footer
          .row.centering
            h3.elemental-letter E
            p.content-letter Estudiantes
        .card.card-footer
          .row.centering
            h3.elemental-letter E
            p.content-letter Egresados
        .card.card-footer
          .row.centering
            h3.elemental-letter A
            p.content-letter Administrativos
        .card.card-footer
          .row.centering
            h3.elemental-letter D
            p.content-letter Docentes
        .card.card-footer
          .row.centering
            h3.elemental-letter P
            p.content-letter Proveedores
      .doubts.col-sm-12.col-md-4
        h5 SI TIENES <span class="green">DUDAS</span>
        .row
          i(class="fa fa-phone-square icon-footer green" aria-hidden="true")
          .letter
            p.text-footer Línea de atención en Bogotá 3078180
            p.text-footer Línea Gratuita Nacional 018000115411
        .row.align-items
          i(class="fa fa-envelope icon-footer green" aria-hidden="true")
          .letter
            p.text-footer contactenos@cun.edu.co
        .row.align-items
          i(class="fa fa-map-marker icon-footer green" aria-hidden="true")
          .letter
            p.text-footer Calle 12B No. 4-79
        .row.align-items
          i(class="fa fa-comment icon-footer green" aria-hidden="true")
          .letter
            p.text-footer Chat
        .row.align-items
          i(class="fa fa-volume-control-phone icon-footer green" aria-hidden="true")
          .letter
            p.text-footer ¿Te llamamos?

  .container.text-center.copyrigth
    p Copyright 2020 Corporación Unificada Nacional de Educacion Superior CUN - Colombia. Todos los Derechos Reservados.
    p Per.Jur.Res. de 1983 IES sujeta a inspeccion y vigilancia por el MEN
