nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navegationMenu', aria-controls='navegationMenu', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navegationMenu.collapse.navbar-collapse
    a.navbar-brand(href='#')
      i.fas.fa-network-wired
      |   CUN Homologaciones
    ul.navbar-nav.mr-auto.mt-2.mt-lg-0
      li.nav-item.active
        a.nav-link(href='/sensorData/') Inicio
      if id_user
        li.nav-item
          a.nav-link(data-toggle='modal', data-target='#sensorsOpModal',) Estadisticas
        li.nav-item
          a.nav-link(href='src/discover.html') En vivo
    if !id_user
      ul.navbar-nav.my-2.my-lg-0
        li.nav-item
          a.nav-link(data-toggle='modal', data-target='#signModal')
            span.fas.fa-users-cog
            |  Registrate
      ul.navbar-nav.my-2.my-lg-0
        li.nav-item
          a.nav-link(data-toggle='modal', data-target='#signModal')
            span.fas.fa-users-cog
            |  Admin
    if id_user
      ul.navbar-nav.my-2.my-lg-0
        li.nav-item
          a.nav-link(href='src/discover.html')
            span.fas.fa-door-open
            |  Cerrar Sesion
